body {
  font-family: "Roboto";
}

h1 {
  font-family: "Montserrat";
  font-size: 3.5rem;
  line-height: 1.5;
  padding-top: 50px;
}
.starting-heading{
  font-style: bold;
  font-family: "Montserrat";
  font-size: 3.5rem;
  line-height: 1.5;
  padding-top: 50px;
}
h2 {
  font-family: "Montserrat";
  font-size: 3rem;
  line-height: 1.5;
}

h3{
  font-family: "Montserrat";
  font-size: 2rem;
  line-height: 1.5;
}
#title {
  background-color: #ff4c68;
  color: white;

}
.iphone-image{
  position: relative;
}
.container-fluid {
  padding: 3% 15% 7%;
}

/* navbar */
.navbar {
  font-family: "Roboto";
  padding-bottom: 50px;

}

.navbar-brand {
  font-family: "Open Sans Condensed";
  font-size: 2rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1rem;
}

/* Download button */
.download-button {
  margin: 3% 5% 3% 0;
}

/* tittle image */
.tittle-img {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  margin-left: 50px;
}
/* second container */
#features {
  padding: 15% 7%;
  background-color: white;
  z-index: 1;
  position: relative;

}
.col-lg-4 {
  margin: auto;
  text-align: center;
}
.bold1{
  font-family: "Montserrat";
}
.icon{
  color: #ff4c68;
  margin-bottom: 1rem;

}
.icon:hover{
  color: #ff0000;
}

/* testimonial */
#testimonials{
  text-align: center;
  background-color: #ff4c68;
  color: white;
}
.testimonial-img{
  width: 10%;
  border-radius: 100%;
  margin: 10px;
}
.carousel-inner{
  padding: 7% 15%;
}

/* press */
#press{
  background-color: #ff4c68;
  text-align: center;
  padding-left: 3%;
}
.press-image{
  width: 15%;
  margin: 20px 20px 50px;
}
.card{
  margin-top: 20px;
}

/* pricing */
#pricing{
  padding: 100px 100px;
  text-align: center;
}
.pricing-coloumn{
  margin-top:  3%;
}
.pricing-para{
  color: black;
  font-weight: bold;
}
.btn{
  backgroung-color: black;
}

/* cta */
#cta{
  text-align: center;
  background-color: #ff4c68;
  padding-top: 100px;
  padding-bottom: 100px;
  color: white;
}
.cta-text{
  font-size: 3rem;
    width: 60%;
    margin: 0 auto 0 auto;
    margin-bottom: 50px;
}
.button-right{
  margin-right: 20px;
}
.download-button{
  margin-top: 0;
}

/* footer */
#footer{
  margin: 100px 0 60px 0;
  text-align: center;
}
.fab{
  margin:0 10px 0 10px;
}
.fas{
  margin:0 10px 0 10px;
}
.copyright{
  margin-top: 20px;
}

/* media quiry */
@media (max-width: 1028px){
  .tittle-img{
    position: static;
    transform: rotate(0deg);
  }
  #features{
    z-index: 0;
    position: static;
  }
  #title{
    text-align: center;
  }
  .download-button{
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .h1{
    font-size: 10px;
  }
  .starting-heading{
    font-size: 2rem;
  }
}
